@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    background-color: #8A7650;
    color: #ECE7D1;
    font-family: 'Stack Sans Notch', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}

*{
    place-content: center;
    place-items: center;
    place-self: center;

    text-align: center;
}

h1{
    font-weight: 600;
    margin: 0;
}

h4{
    font-weight: 200;
    margin: 0;
}

a{
    text-decoration: none;
    color: #8A7650;
    background-color: #ECE7D1;
    padding: 0.5rem;
    border-radius: 2rem;
    corner-shape: squircle;

    font-weight: 700;

    transition: all 0.2s ease;
}

span{
    font-weight: 400;
    text-decoration: underline;
}

input{
    margin-top: 1rem;
    padding: 0.75rem;
    width: 41%;
    border: none;
    border-radius: 2rem;
    corner-shape: squircle;
    transition: all 0.2s ease;
    place-items: start;

    align-items: start;

    outline: none;
}

input:focus{
    outline: rgba(219, 206, 165, 0.25) 0.1rem solid;
}

button{
    margin: 1rem 0;

    border: none;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    corner-shape: squircle;
    cursor: pointer;

    color: #8A7650;
    font-weight: 800;

    transition: all 0.2s ease-in-out;
}

button:hover, a:hover{
    transform: scale(1.025);
    box-shadow: #DBCEA5 0 0 0.5rem 0.1rem;
}

img{
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    corner-shape: squircle;
}